[user]
  name = Sven Gerber
  useConfigOnly = true

[commit]
  gpgsign = true

[pull]
  rebase = false

[gpg]
  format = ssh

[alias]
  st = status
  logg = log --graph --decorate --oneline --all
  cm = commit -s
  df = diff
  dfs = diff --staged


[includeIf "gitdir:~/github*/"]
  path = ~/.gitconfig.github

[includeIf "gitdir:~/github-sg/"]
  path = ~/.gitconfig.github-sg

[includeIf "gitdir:~/gitlab/*"]
  path = ~/.gitconfig.gitlab

[includeIf "gitdir:~/gitlab*/"]
  path = ~/.gitconfig.gitlab